<!DOCTYPE HTML>
{% load dajaxice_templatetags %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>	    
	<script  src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
	{% dajaxice_js_import %}
	
	{% block scripts %}{% endblock %}
        
    <title>TaskTrac</title>	

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">

 </head>
   <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Template</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Template Title</h1>
		<hr>
		{% block content %}
		{% endblock %}		
		<hr>
		<div class="footer">
			<p>&copy; Amadeus S.A. 2013.</p>
		</div>
    </div> <!-- /container -->
  </body>
</html>